main {
    width: 100vw;
    max-width: unset;
    height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/images/Products/For-Accountant/hero.jpg);
    background-color: var(--black-40);
    background-size: cover;
}

main > div {
    width: calc(100vw - 2.5rem);
    max-width: 1600px;
    padding: 1.25rem;
    display: grid;
    gap: 1.5rem;
}

main > div > div {
    display: grid;
    gap: 1.125rem;
}

main > div > div > * {
    color: var(--white-100);
}

@media (min-width: 768px) {
    main > div {
        width: calc(100vw - 2.625rem - 2.625rem);
        padding: 0 2.625rem;
        display: grid;
        gap: 1.5rem;
    }

    main > div > div {
        width: 60%;
    }
}

@media (min-width: 1280px) {
    /* main {
        max-height: 40.25rem;
        } */
        
        main > div {
            width: calc(100vw - 10rem);
            padding: 0 5rem;
            display: grid;
            gap: 1.5rem;
        }
        
        main > div > div {
            width: 50%;
        }
    }
    
    
    .section-1 {
        width: calc(100vw - 2.5rem);
        padding: 6rem 1.25rem 3rem 1.25rem;
    }
    
    .section-1 button {
        width: 100%;
        justify-content: center;
    }

    .section-1 > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .section-1 > .for-accountant-pricings {
        max-width: 1600px;
        display: grid;
        gap: 1.5rem;
    }

    .pricing-for-accountant {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        background-color: var(--bg-color);
        border: 2px solid var(--text-green-10);
        border-radius: 1.5rem;
    }
    
    .pricing-for-accountant-details .divider-line {
        height: 2px;
        background-color: var(--text-green-10);
        width: 100%;
    }
    
    .pricing-for-accountant-head span {
        font-family: 'Satoshi Medium';
        font-size: var(--h2_m);
    }

    .pricing-for-accountant-head {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        padding: 0.5rem;
        align-items: start;
    }

    .pricing-for-accountant-head > div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .pricing-for-accountant-head > div:nth-child(2) {
        text-align: left;
    }
    
    .pricing-for-accountant-head > div:nth-child(2) p {
        font-style: italic;
    }

    .pricing-for-accountant-details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .pricing-for-accountant-details > div:nth-child(1) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.875rem;
    }
    
    .pricing-for-accountant-details > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding: 1.5rem 0;
        justify-content: center;
        text-align: center;
    }

    .pricing-for-accountant-details > div:nth-child(1) > div {
        display: flex;
        flex-direction: column;
        gap: 0.875rem;
        padding: 1.125rem;
        border-radius: 0.875rem;
        background-color: var(--primary-green--80);
    }
  
    .pricing-for-accountant-details > div:nth-child(2) > div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .pricing-for-accountant-details > div > div > div:nth-child(3) {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .pricing-for-accountant-details > div > div > div:nth-child(3) > div {
        display: grid;
        gap: 0.875rem;
        align-items: center;
        grid-template-columns: 20px 1fr;
    }
    
    @media (min-width: 768px) {
        .section-1 {
            width: calc(100vw - 2.625rem - 2.625rem);
            padding: 6rem 2.625rem 3rem 2.625rem;
        }

        .pricing-for-accountant {
            padding: 1.125rem;
        }

        .pricing-for-accountant-head {
            gap: 8vw;
            flex-direction: row;
            align-items: end;
        }

        .pricing-for-accountant-head span {
            font-size: var(--h2);
        }

        .sql-accountant-set .pricing-for-accountant-details > div:nth-child(1) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.125rem;
        }

        .pricing-for-accountant-head > div:nth-child(2) {
            text-align: right;
        }
        
    }

    @media (min-width: 1280px) {
        .section-1 {
            width: calc(100vw - 10rem);
            display: grid;
            gap: 2.625rem;
            padding: 7.5rem 5rem 3rem 5rem;
        }

        .pricing-for-accountant-head {
            gap: 20vw;
        }

        .section-1 > .for-accountant-pricings {
            width: calc(100vw - 10rem);
            max-width: 1600px;
            display: grid;
            gap: 1.5rem;
        }
    }

    .section-2 {
        width: calc(100vw - 2.5rem);
        padding: 6rem 1.25rem 3rem 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 2.625rem;
        height: fit-content;
    }

    .section-2 > img {
        width: 100%;
        aspect-ratio: 1/1;
        background-color: var(--black-40);
        border-radius: 0.75rem;
        object-fit: cover;
    }

    .section-2 > div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .section-2 .content {
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
    }

    .section-2 .content > div {
        display: flex;
        gap: 2rem;
    }

    .section-2 .content-timeline-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .section-2 .content > div:last-child .content-timeline {
        display: none;
    }

    .section-2 .content-bullet {
        width: 1.5rem;
        height: 1.5rem;
        background-color: var(--primary-green-40);
        border-radius: 50%;
    }

    .section-2 .heading {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .content-timeline {
        height: calc(100% + 1.125rem);
        width: 2px;
        background-color: var(--primary-green-40);
        position: absolute;
        margin-top: 0.75rem;
    }

    @media (min-width: 768px) {
        .section-2 {
            width: calc(100vw - 2.625rem - 2.625rem);
            padding: 6rem 2.625rem 3rem 2.625rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .section-2 > img {
            aspect-ratio: unset;
        }
    }

    @media (min-width: 1280px) {
        .section-2 {
            width: calc(100vw - 10rem);
            display: grid;
            gap: 2.625rem;
            padding: 7.5rem 5rem 3rem 5rem;
        }
    }

    .section-3 {
        width: calc(100vw - 2.5rem);
        padding: 0rem 1.25rem 0rem 1.25rem;
        display: flex;
        flex-direction: column-reverse;
        gap: 2.625rem;
        height: fit-content;
    }

    .section-3 > img {
        width: 100%;
        aspect-ratio: 1/1;
        background-color: var(--black-40);
        border-radius: 0.75rem;
        object-fit: cover;
    }

    .section-3 > div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .section-3 .content {
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
    }

    .section-3 .content > div {
        display: flex;
        gap: 2rem;
    }

    .section-3 .content-timeline-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .section-3 .content > div:last-child .content-timeline {
        display: none;
    }

    .section-3 .content-bullet {
        width: 1.5rem;
        height: 1.5rem;
        background-color: var(--primary-green-40);
        border-radius: 50%;
    }

    .section-3 .heading {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .content-timeline {
        height: calc(100% + 1.125rem);
        width: 2px;
        background-color: var(--primary-green-40);
        position: absolute;
        margin-top: 0.75rem;
    }


    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .form > div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .form input,
    .form textarea {
        font-size: var(--body-medium);
        padding: 0.875rem;
        border: 2px var(--black-40) solid;
        border-radius: 0.75rem;;
        background-color: var(--bg-color);
    }

    .form input::placeholder,
    .form textarea::placeholder {
        color: var(--black-40);
    }

    .form textarea {
        resize: none;
        padding-bottom: 5rem;
    }

    .form-radio-button-container {
        display: flex;
        gap: 1.5rem;
    }

    .form-radio-button-container > div {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
    }

    @media (min-width: 768px) {
        .section-3 {
            width: calc(100vw - 2.625rem - 2.625rem);
            padding: 0rem 2.625rem 0rem 2.625rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .section-3 > img {
            aspect-ratio: unset;
        }
    }

    @media (min-width: 1280px) {
        .section-3 {
            width: calc(100vw - 10rem);
            display: grid;
            gap: 2.625rem;
            padding: 0rem 5rem 0rem 5rem;
        }
    }