

    main {
        width: calc(100vw - 2.5rem);
        padding: 6rem 1.25rem 3rem 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 2.625rem;
        height: fit-content;
    }

    main > h1 {
        text-align: center;
    }

    main > div {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    main > div > div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    main .content {
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
    }

    main .content > div {
        display: flex;
        gap: 2rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .form > div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .form input,
    .form textarea {
        font-size: var(--body-medium);
        padding: 0.875rem;
        border: 2px var(--black-40) solid;
        border-radius: 0.75rem;;
        background-color: var(--bg-color);
    }

    .form input::placeholder,
    .form textarea::placeholder {
        color: var(--black-40);
    }

    .form textarea {
        resize: none;
        padding-bottom: 5rem;
    }

    main .content-timeline-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    main .content > div:last-child .content-timeline {
        display: none;
    }

    main .content-bullet {
        width: 1.5rem;
        height: 1.5rem;
        background-color: var(--primary-green-40);
        border-radius: 50%;
    }

    main .heading {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .content-timeline {
        height: calc(100% + 1.125rem);
        width: 2px;
        background-color: var(--primary-green-40);
        position: absolute;
        margin-top: 0.75rem;
    }

    .address-accordion {
        gap: 2rem;
        display: flex;
        flex-direction: column;
    }

    .accordion-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .accordion-container-head {
        background-color: var(--primary-green-40);
        display: flex;
        padding: 0.875rem;
        border-radius: 0.5rem;
        justify-content: space-between;
    }

    .accordion-container-head svg {
        transition: 400ms ease;
    }

    .accordion-container-head-active svg {
        transform: rotate(180deg);
    }
    
    .accordion-container-head h3 {
        color: var(--white-100);
    }

    .accordion-container-content {
        padding: 0 0.75rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        max-height: 0rem;
        transition: 500ms;
        overflow: hidden;
        margin-top: -1.5rem;
        opacity: 0;
    }

    .accordion-container-content-active {
        max-height: 100rem;
        margin-top: unset;
        opacity: 1;
    }

    @media (min-width: 768px) {
        main {
            width: calc(100vw - 2.625rem - 2.625rem);
            padding: 0rem 2.625rem 0rem 2.625rem;
        }

        main > div {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        main > div img {
            aspect-ratio: unset;
        }

        .accordion-container-head {
            padding: 1.5rem;
            border-radius: 0.75rem;
        }

        .accordion-container-content {
            padding: 0 1.5rem;
            gap: 2rem;
        }
    }

    @media (min-width: 1280px) {
        main {
            width: calc(100vw - 10rem);
            gap: 2.625rem;
            padding: 7.5rem 5rem 5rem 5rem;
        }

        main > div img {
            aspect-ratio: 4/3;
        }
    }